@import "mixins";

$f-bold: 800;
$f-semi-bold: 600;
$f-normal: 400;
$f-light: 300;

$body-color: #4A4A4A;
$light-grey: #9B9B9B;
$extra-light-grey: #CFCFCF;
$body-background: #FDFDFD;
$highlight-color-1: #4990E2;
$highlight-color-2: #50E3C2;
$highlight-color-3: #BD0FE1;
$highlight-color-final: #D0011B;
$font-family: "Open Sans", sans-serif;
$button-color: $highlight-color-2;

$project-background-color: #F0F4EB;
$project-outline-color: #C2D4B0;

$z-level-0: 0;
$z-level-1: 5;
$z-level-top: 10;


/* elements */

body {
  font-family: $font-family;
  color: $body-color;
  background: $body-background;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $body-color;
  &:hover {
    color: $button-color;
  }
}

nav {
  margin: 1rem;
  font-weight: $f-bold;
  ul {
    display: inline-block;
    list-style: none;
    font-weight: normal;
    margin: 0 0 0 1em;
    padding: 0;
  }
  li {
    padding-right: 1em;
    display: inline-block;
    text-transform: lowercase;
  }
  a:hover {
    color: $highlight-color-2;
  }
}

h1, h2 {
  font-weight: $f-bold;
  line-height: 1.5;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
}

h2 {
  margin-top: 5rem;
  font-size: 2.5rem;
}

span {
  display: inline-block;
}

p {
  font-size: 1.5rem;
  a {
    display: inline-block;
    border-bottom: 1px solid $button-color;
  }
}

em {
  font-weight: $f-semi-bold;
  font-style: italic;
}

footnotes {
  font-size: 0.8rem;
  a {
    color: $light-grey;
  }
}

/* styles */

#content {
  margin: 5rem 2rem 2rem 6rem;
  max-width: 1128px;
  z-index: $z-level-1;
}

.problem-type {
  ul {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: $z-level-top;
  }
  li {
    @include opacity(0.5);
    cursor: pointer;
    &.selected, &:hover {
      @include opacity(0.75);
    }
    &.hidden {
      display: none;
    }
  }
  input {
    border: 0;
    outline: 0;
    font-family: $font-family;
    font-weight: $f-bold;
    font-size: 2.5rem;
    background: url(/images/triangle.png) right center no-repeat;
    background-color: $body-background;
    color: $body-color;
    border-bottom: 2px solid $light-grey;
    width: 16em;
    &:focus {
      color: $body-color;
    }
    &:hover {
      cursor: pointer;
      display: block;
    }
  }
  &.active ul {
    display: block;
  }
}

#response {
  &:hover ul {
    display: block;
  }
  &.matched {
    ul {
      display: none;
    }
    input {
      background: none;
      border-bottom: 2px solid $body-background;
    }
  }
}

.next {
  margin-top: 5rem;
  button {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    font-family: $font-family;
    font-weight: $f-bold;
    text-transform: uppercase;
    color: $body-background;
    background: $button-color;
    border: 0;
    outline: 0;
    border-radius: 8px;
    cursor: pointer;
  }
}


ul.projects, ul.cards {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
}

.project {
  h2 {
    margin-top: 0;
  }
  background-color: $project-background-color;
  padding: 1em;
  border-radius: 3px;
  img {
    max-width: 100%;
    border: 1px solid $project-outline-color;
  }
}

.more-info {
  a {
    display: inline-block;
    font-weight: $f-semi-bold;
    border-bottom: 1px solid $highlight-color-2;
  }
}


.testimonial {
  margin: 0;
  padding: 0;
  p {
    font-size: 1rem;
    font-weight: $f-light;
  }
  .attribution {
    font-style: italic;
    font-size: 1rem;
    &:before {
      content: "—";
    }
  }
  .company {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: $f-semi-bold;
  }
}

.with-testimonials {
  display: flex;
  flex: 1;
  .content {
    flex: 2;
  }
  .testimonial {
    flex: 1;
    padding-left: 2rem;
  }
}


/** easter egg **/
canvas {
  display: none;
  pointer-events: none;
  &.active {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
  }
}

.countdown {
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: $f-bold;
  font-size: 2rem;
  padding: 1rem;
  color: $body-color;
  margin: 0;
  border-radius: 5px;
  @include opacity(0.25);
}

/* application classes */
.hidden {
  display: none;
}

.invisible {
  @include opacity(0);
  @include transition(opacity 0.25s ease);
  &.first {
    @include transition(opacity 1s ease);
  }
}

.fade-in {
  @include opacity(1);
  @include transition(opacity 1s ease);
}

.hi-0 {
  color: $highlight-color-1;
}
.hi-1 {
  color: $highlight-color-2;
}
.hi-2 {
  color: $highlight-color-3;
}
.hi-final {
  color: $highlight-color-final;
}

/** touch styles **/

.is-touch {
  .touch-placeholder {
    color: $extra-light-grey;
  }
  .problem-type {
    ul {
      display: block;
    }
  }

  #response {
    &:hover ul {
      display: block;
    }
    &.matched {
      ul {
        display: block;
      }
      input {
        background: none;
        border-bottom: 2px solid $body-background;
      }
    }
  }

  .next {
    z-level: $z-level-top;
    margin-top: 13rem;
  }
}

/** Media queries **/

@include mq("desktop", $type: "max") {
  #content {
    margin: 3rem 1rem 1rem 4rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2, .problem-type input {
    font-size: 1.5rem;
  }
  h2 {
    margin-top: 1.5rem;
  }
  .next{
    margin-top: 3rem;
    button {
      font-size: 2rem;
    }
  }
}

@include mq("tablet-wide", $type: "max") {
  #content {
    margin: 2rem 0.5rem 0.5rem 3rem;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2, .problem-type input {
    font-size: 1.25rem;
  }
  h2 {
    margin-top: 1.25rem;
  }
  .next{
    margin-top: 2rem;
    button {
      font-size: 1.5rem;
    }
  }
  .with-testimonials {
    display: block;
    .testimonial {
      padding: 0rem 5rem 1rem;
    }
  }
}

@include mq("tablet-small", $type: "max") {
  nav {
    font-size: 0.65rem;
    li {
      padding-right: 0.25em;
      &:after {
        font-weight: $f-bold;
        content: " / ";
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

  h1 {
    font-size: 1.5rem;
  }
  h1:nth-child(2), h1:nth-child(3) {
    font-size: 1rem;
  }

  h2, .problem-type input {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  #content {
    margin: 1rem 1.5rem 0.5rem 1.5rem;
  }

  #fork-me {
    display: none;
  }

  .next{
    button {
      font-size: 1.15rem;
    }
  }

  ul.projects {
    li {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }
  .with-testimonials {
    .testimonial {
      font-size: 0.75rem;
      p { font-size: 0.75rem; }
      padding: 0rem 2.5rem 1rem;
    }
  }

}
